.cursor {
	position: absolute;
	background: color(accent);
	width: 6px;
	height: 6px;
	border-radius: 100%;
	z-index: 99;
	user-select: none;
	pointer-events: none;
	mix-blend-mode: difference;

	&.bg-white {
		@extend .bg-white;
	}

	@media (max-width: 500px) {
		& {
			display: none;
		}
	}
}

.follower {
	position: absolute;
	background: transparent;
	border: 0.15em solid color(main);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	z-index: 99;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
	user-select: none;
	pointer-events: none;
	transform: translate(-2px, -3px);
	&.active {
		transform: scale(1.5);
		border: none;
		background-color: color(main);
		opacity: 0.1;
	}

	&.black-border {
		border: 0.15em solid color(background);
	}

	@media (max-width: 500px) {
		& {
			display: none;
		}
	}
}
